* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 2px black;
    gap: 10px;
    flex-grow: 0;
}

#topHeader {
    display: flex;
    gap: 50%;
    flex-wrap: wrap;
    /* border: solid; */
}

/* appliceras på div:ar i #topHeader (istället för att använda class) */
#topHeader div {
    border: solid;
}

#logo {
    flex-grow: 7;
}

#checkout {
    flex-grow: 1;
}

#categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    /* border: solid; */
}

/* appliceras på div:ar i #categories (istället för att använda class) */
#categories div {
    border: solid;
    flex-grow: 1;
}

/* MAIN */
main {
    /* border: solid 2px black; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    /* background-color: red; */
    /* height: 100%; */
}

.categoryCard {
    /* background-color: green; */
    display: flex;
    border: 1px solid;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    flex: 1;
}

.imagesContainer {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    /* border: solid red; */
    /* background-color: grey; */
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 100%; */
    /* height: 200px; */
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    /* overflow: auto; */
    /* width: 100%; */
    /* width: 100%; */
}

.imagesContainer img {
    /* display: block; */
    flex-basis: 30%;
    min-width: 75px;

    /* width: auto;
    height: auto; */
    /* display: flex;
    flex: 1; */
}
.test {
    border: solid;
    display: flex;
    background-color: blue;
    flex: 1;

    min-width: 75px;
    flex-basis: 30%;

    /* width: 100%;
    height: auto; */
}
main h2 {
    margin-top: 3%;
    margin-bottom: 2%;
}
main h4 {
    text-align: center;
    margin: 3%;
}

/* FOOTER */
footer {
    border: solid 2px black;
    flex-grow: 0;
    text-align: center;
}
