* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 2px black;
    gap: 10px;
    flex-grow: 0;
}

#topHeader {
    display: flex;
    gap: 50%;
    /* border: solid; */
}

/* appliceras på div:ar i #topHeader (istället för att använda class) */
#topHeader div {
    border: solid;
}

#logo {
    flex-grow: 7;
}

#checkout {
    flex-grow: 1;
}

#categories {
    display: flex;
    gap: 10px;
    /* border: solid; */
}

/* appliceras på div:ar i #categories (istället för att använda class) */
#categories div {
    border: solid;
    flex-grow: 1;
}

/* MAIN */
main {
    border: solid 2px black;
    flex-grow: 1;
}

#categoryContainer {
    margin: 10px;
    border: solid;
    padding-left: 10%;
    padding-right: 10%;
}

#categoryImages {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    border: solid;
    max-width: 100%;
    height: auto;
}

#categoryImages img {
    border: solid 2px black;
}

main h4 {
    text-align: center;
}

/* FOOTER */
footer {
    border: solid 2px black;
    flex-grow: 0;
    text-align: center;
}
