* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 0;
  background-color: #000000;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

.logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo {
  height: 200px;
  width: 300px;
}
.kundvagn {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #e0e0e0;
}

.lower a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #e0e0e0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.hemText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.product-caro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.itemcard {
  border-radius: 5px;
  border: 2px dotted black;
  background-color: #858585;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-basis: 500px;
}

.product-image {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid black;
}
.product img {
  height: 200px;
  width: 200px;
}

.modal-image {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fefefe;
  border: 5px solid grey;
  margin: 15% auto;
  padding: 20px;
  height: 40%;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.single-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  gap: 50px;
  margin-bottom: 20px;
  height: 40vh;
  background-color: steelblue;
}
.single-product-image {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.single-product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
