* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 0;
  background-color: #000000;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

.logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo {
  height: 200px;
  width: 300px;
}
.kundvagn {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #e0e0e0;
}

.lower a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #e0e0e0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.hemText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.product-caro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.itemcard {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.itemcard img {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}
